/* CSS usado no arquivo de aplicação */

.header {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #567416, #9ccf2e);
    gap: 40px;
    color: var(--corBranca);
}

.logo-img {
    position: absolute;
    left: 40px;
}

.pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input-cidade {
    height: 30px;
    width: 400px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.input-cidade::placeholder{
    color: white;
}

.input-cidade:focus {
    outline: none;
}

.input-enviar {
    height: 30px;
    padding: 5px 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #6e9221;
    border: none;
    border-radius: 20px;
    color: white;
}

#isubmit {
    cursor: pointer;
}

#isubmit:hover {
    background-color: green;
    transition: .3s;
}