<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./aplicacao.css">
    <link rel="stylesheet" href="../style.global.css">
    <link rel="shortcut icon" href="../../../assets/imagens/icon.png" type="image/png">
    <title>Aplicação</title>
</head>
<body>
    <header class="header">
        <div class="logo-img">
            <img src="../../../assets/imagens/logo.png" alt="Logo" class="logo">
        </div>
        <div class="pesquisa">
            <span class="titulo">Pesquise a <strong>qualidade do ar</strong> da sua <strong>cidade</strong></span>
            <form method="get">
                <input class="input-cidade" id="icidade" type="text" placeholder="Sua cidade" required minlength="3">
                <input class="input-enviar" id="isubmit" type="submit" value="Pesquisar">
            </form>
        </div>
    </header>
    <main class="main">
        <div id="carregando">
            <p>Aguarde, carregando...</p>
        </div>
    </main>

    <footer class="footer">
        <nav>
            <ul class="footer-links">
                <li>Home</li>
                <li>Como funciona</li>
                <li>Creditos</li>
            </ul>
        </nav>
    </footer>
    <script type="module" src="./aplicacao.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" referrerpolicy="no-referrer"></script>

</body>
</html>