<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.global.css" />
    <link rel="stylesheet" href="comofunciona.css" />
    <title>Como funciona</title>
  </head>
  <body>
    <header>
      <h1>Como Funciona a Aplicação</h1>
    </header>

    <section id="sobre">
      <h2>Sobre a Aplicação</h2>
      <p>
        A aplicação funciona monitorando os níveis de diferentes poluentes
        atmosféricos em tempo real e calculando o AQI com base nesses dados. Ela
        pode acessar informações de estações de monitoramento locais ou de
        fontes globais para fornecer uma avaliação precisa da qualidade do ar em
        uma determinada área.
      </p>
    </section>

    <section id="funcionalidades">
      <h2>Funcionalidades</h2>
      <ul>
        <li>Monitoramento em tempo real dos níveis de poluentes atmosféricos.</li>
        <li>Cálculo e exibição do AQI com base nos dados coletados.</li>
        <li> Informações sobre os diferentes níveis de AQI e seus impactos na saúde.</li> 
      </ul>
    </section>

    <section id="como-usar">
      <h2>Como Usar</h2>
      <ol>
        <li>Abra o AQI em seu navegador</li>
        <li>Insira a sua localização ou região desejada</li>
        <li> Informações sobre os diferentes níveis de AQI e seus impactos na saúde.</li>
        <li>Explore as diferentes seções da aplicação para obter mais informações sobre os poluentes, efeitos na saúde e medidas de proteção.</li>
      </ol>
    </section>

    <footer>
      <p>&copy; 2024 Ambiente do Solo. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
