<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.globalcss">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<body>
   
   <header>
    </header>
    <nav>
      <a href="" >Home</a>
      <a href="C:\Users\Plugify\Desktop\M2\Pda---Squad-01-_M2_2024\src\views\comofunciona\comofunciona.html" >Funcionalidades</a>
      <a href="C:\Users\Plugify\Desktop\M2\Pda---Squad-01-_M2_2024\src\views\aplicacao\aplicacao.html" >Aplicação</a>
      <a href="C:\Users\Plugify\Desktop\M2\Pda---Squad-01-_M2_2024\src\views\creditos\creditos.html" >Créditos</a>

     
    </nav>
    <div>
      <p>Nosso site oferece uma solução intuitiva e informativa para usuários interessados em verificar a qualidade do ar em sua área local. Utilizando tecnologia de geolocalização, fornecemos dados precisos sobre a poluição atmosférica com base na localização do usuário. Ao inserir o nome de sua cidade, nossos algoritmos inteligentes automaticamente extraem as coordenadas geográficas, permitindo acesso rápido e fácil às informações sobre a qualidade do ar em tempo real.

        Nossa abordagem inovadora integra múltiplas APIs, garantindo uma experiência completa e abrangente para nossos usuários. Ao combinar dados de fontes confiáveis, oferecemos uma visão detalhada da qualidade do ar, incluindo indicadores importantes como índice de qualidade do ar e níveis de poluentes como CO2.
        
        Com uma interface intuitiva e amigável, nosso site proporciona uma maneira acessível e eficiente para que os usuários monitorem a qualidade do ar em sua região, promovendo uma maior conscientização ambiental e contribuindo para um estilo de vida mais saudável e sustentável.</p>
    </div>
   
</body>
</html>